.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
builds/
.idea/
installer/dist/
*.apk
windows/flutter/ephemeral/
android/.gradle/
android/local.properties
*.iml
*.jks
*.keystore
*.log
.env
sync_config.bat
.DS_Store
